:root {
    --backgound-color: #0a0b15;
    --font-color: #a5a5cc;
    --sub-font-color: #5d5d7c;
    --bg-font-color: #a0a0c323;
}

.aboutSection {
    width: 90%;
    position: relative;
    place-items: center;
    justify-content: center;
    min-width: 81vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 100rem;
}

.about-head {
    text-align: left !important;
    margin-top: 4rem;
}

.title {
    font-size: 10vw;
    color: var(--bg-font-color);
    line-height: 0.8;
}

.about-headline {
    margin-top: 1.5rem;
    font-size: 4vw;
    text-align: left;
    letter-spacing: -0.3vw;
    font-weight: 350;
    line-height: 0.95;
}

.about-description {
    font-size: 3.5vw;
    text-align: left;
    letter-spacing: -0.3vw;
    font-weight: 350;
    color: var(--sub-font-color);
}

.figure-co {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 100rem;
}

.figure {
    width: 37vw;
}

.image {
    width: 100%;
    border-radius: 8px;
    z-index: 1;
}

.image.image-mobile {
    display: none;
}

.figure.m1 {
    margin-top: 1rem;
}

.figure-quote {
    text-align: left;
    font-size: 2vw;
    line-height: 1.2;
    font-weight: 200;
}

.figure-quote1 {
    margin-bottom: 4vw;
}

.figure-quote2 {
    margin-top: 4vw;
    color: var(--sub-font-color);
}

.figure-quote3 {
    margin-top: 4vw;
}

.figure.figure3,
.figure.figure4,
.figure.figure5,
.figure.figure6 {
    margin-top: 4vw;
}

.figure.figure4,
figure.figure5 {
    margin-top: 4vw;
}

.paragraph {
    margin-top: 8vw;
    width: 37vw;
    text-align: left;
    font-size: 1.5vw;
    color: var(--sub-font-color);
}

.paragraph2 {
    margin-top: 6vw;
}

.paragraph-headline {
    margin-bottom: 1vw;
    color: var(--font-color);
}

.space {
    height: 10vw;
}

@media only screen and (max-width: 700px) {
    .aboutSection {
        width: 100%;
        margin-top: -10vw;
    }

    .title {
        font-size: 16vw;
    }

    .about-headline {
        margin-top: 4vw;
        font-size: 8vw;
    }

    .about-description {
        font-size: 6vw;
    }

    .figure-co {
        flex-direction: column;
        margin-left: 0;
        width: 100%;
        margin-top: 0;
    }

    .image {
        width: 100% !important;
        display: none;
        margin-top: 10vw;
    }

    .image.image-mobile {
        display: block;
        box-shadow: inset 0px 0px 2px 5px black;
    }

    .figure-quote {
        font-size: 5vw;
        margin-top: 8vw;
    }

    .figure {
        width: 100%;
    }

    .figure-quote1 {
        display: none;
    }

    .paragraph {
        font-size: 4vw;
        width: 100%;
    }
}